{% extends "base.html" %}
<!-- extends表明此页面继承自 base.html 文件 -->
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
数据查看
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>

<main class="col-md-8 col-md-offset-2">

    <div id="container" style="background: #ffffffd3; border-radius: 15px; box-shadow: 0 0 5px #ccc;"></div>
</main>



<script>
var chart = Highcharts.chart('container',{
chart: {
    type: 'column'
},
title: {
    text: '博客文章相关数据分析'
},
xAxis: {
    categories: [
        '一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'
    ],
    crosshair: true
},
yAxis: {
    min: 0,
    title: {
        text: '文章数量'
    }
},

plotOptions: {
    column: {
        borderWidth: 0
    }
},
series: [{
    name: '文章总数',
    data: [0, 2, 5, 15, 30]
}, {
    name: '文章发布数',
    data: [0, 3, 4, 15, 25]
}, {
    name: '文章删除数',
    data: [0, 1, 1, 5, 10]
}]
});
</script>



{% endblock content %}
